@font-face {
  font-family: "Corbel";
  src : url("fonts/corbel.ttf");
}

html {
  font-family: "Corbel", Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  background-color: #242D4E;

}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

h1, h2, h3, h4 {
  /*Fuente título*/
  color: #789CA7;
  font-weight: 300;
  margin: 0px 0px 20px 0px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
  margin: 0px 0px 15px 0px;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

#wrapper {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 0.8em;
  background: #242D4E;
}

.clear {
  clear: both;
  font-size: 0px;
  line-height: 0px;
  height: 0px;
}

audio:not([controls]) {
  display: none;
  height: 0px;
}

[hidden],
template {
  display: none;
}

a, a:visited {
  background: transparent;
  text-decoration: underline;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
}

a:active,
a:hover {
  outline: 0px;
  text-decoration: none;
  color: #B2B2B2;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0px;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0px;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  padding: 0px 0px 1px;
  background: #666E7F;
  z-index: 100;
}

nav, .content {
  margin: 0px auto;
  width: 988px;
}

.logo {
  width: 217px;
  height: 90px;
  margin: 5px auto;
  float: left;
}

.logo a {
  display: block;
  width: 217px;
  height: 90px;
  background: transparent url(../images/logo.png) no-repeat 0 0;
}

#main-logo {
  margin: 0px;
  padding: 0px;
}

ul {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

ul.main-nav {
  margin: 22px 0px 0px 0px;
  padding: 0px;
  list-style: none;
}

ul.main-nav li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: relative;
}

ul.main-nav li ul li {
  padding: 0px;
  margin: 0px;
  display: block;
  float: left;
}

ul.main-nav li a{
  color:#f5f5f5;
  font-size:13px;
  font-weight:bold;
  padding:25px;
  text-decoration:none;
  display:block;
}
ul.main-nav li a b {
  color:#D06464;
  font-weight:bold;
}
ul.main-nav li a:hover, ul.main_menu li a.active, footer a:hover, footer a:active{
  color:#d06464;
}

.nav-left {
  float: left;
  width: 385px;
  text-align: right;
  display: block;
  position: relative;
  z-index: 399;
}

.nav-left li {
  float: right;
}

ul .main-nav li ul li a {
  color:#f5f5f5;
  font-size:12px;
  font-weight:bold;
  padding:8px;
  text-decoration:none;
  display:block;
  width:134px;
}

.nav-right {
  float: left;
  width: 385px;
  text-align: right;
  display: block;
  position: relative;
  z-index: 400;
}

.nav-right li {
  float: left;
}

footer {
  position: fixed;
  background: #666E7F;
  color: white;
  bottom: 0px;
  left: 0px;
  height: 35px;
  width: 100%;
  padding: 15px;
}

