html, body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body, td, th, input, textarea, select, a {
  font-size: 1em;
}

h1, h2, h3, h4 {
  /*Fuente título*/
  color: #789CA7;
  font-weight: 300;
  margin: 0 0 20px 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
  margin: 0 0 15px 0;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
}

p {
  margin-bottom: 20px;
}

a, a:visited {
  text-decoration: underline;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #B2B2B2;
}

a img {
  border: none;
}

article img {
  width: auto;
  max-width: 100%;
  height: auto;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 0.8em;
  background: #242D4E;
}


/*********************************************************************************/
/*********************************** HEADER Y MENÚ *******************************/
/*********************************************************************************/

header {
  width: 100%;
  height: 100px;
  min-width: 988px;
  position: relative;
  background: #666E7F;
  /*background: url(../images/bg-menu3.jpg) top left repeat-x;*/
  z-index: 20;
}

header nav {
  position: relative;
}

nav {
  margin: 0 auto;
  width: 988px;
}

.logo {
  width: 217px;
  height: 90px;
  float: left;
  margin: 5px auto;
}

.logo a {
  display: block;
  width: 217px;
  height: 90px;
  background: transparent url(../images/logo.png) no-repeat 0 0;
}

#main-logo {
  margin: 0;
  padding: 0;
}

ul {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

ul.main-nav {
  margin: 22px 0 0 0;
  padding: 0;
  list-style: none;
}

ul.main-nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

ul.main-nav li ul.children {
  display: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: absolute;
  top: 45px;
  left: 7px;
  width: 150px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

ul.main-nav li ul li {
  padding: 0;
  margin: 0;
  display: block;
  float: left;
}

ul.main-nav li a{
  color:#f5f5f5;
  font-size:13px;
  font-weight:bold;
  padding:25px;
  text-decoration:none;
  display:block;
}
ul.main-nav li a b {
  color:#D06464;
  font-weight:bold;
}
ul.main-nav li a:hover, ul.main_menu li a.active{
  color:#d06464;
}

.nav-left {
  float: left;
  width: 385px;
  text-align: left;
  display: block;
  position: relative;
  z-index: 399;
}

.nav-left li {
  float: right;
}

ul .main-nav li ul li a {
  color:#f5f5f5;
  font-size:12px;
  font-weight:bold;
  padding:8px;
  text-decoration:none;
  display:block;
  width:134px;
}

.nav-right {
  float: left;
  width: 385px;
  text-align: right;
  display: block;
  position: relative;
  z-index: 400;
}

.nav-right li {
  float: left;
}



/*********************************************************************************/
/*********************************** CONTENIDO *******************************/
/*********************************************************************************/

.content {
  height: 300px;
  padding: 50px;
}

.photo {
  height: 200px;
  margin: 0 auto;
  width: 988px;
  background: transparent url(../images/Cabeceras/1.Inicio.png) no-repeat 0 0;
}

.a_left {
  width: 333px;
  float: left;
}

.a_right {
  width: 666px;
  float: left;
}